.page-link{
    color: #111827;
}
/* Estilo para resaltar la página actual */
.selected-page {
    background-color: #E9EAEC !important; /* Color de fondo para resaltar */
    color: #111827 !important; /* Color del texto para resaltar */
    font-weight: bold; /* Texto en negrita */
  }
/* Estilos para los botones personalizados */
.rounded-button {
    border-radius: 10px; /* Hace que los botones sean completamente redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Agrega una sombra 3D */
    /*padding: 3px 3px; /* Ajusta el espaciado interno */
    margin: 3px; /* Agrega margen entre los botones */
  }
  
  /* Estilos para los íconos dentro de los botones */
  .material-symbols-outlined {
    font-size: 10px; /* Ajusta el tamaño del ícono */
    /*margin-right: 5px; /* Agrega un espacio entre el ícono y el texto */
  }
.text-bold{
    font-weight: bold;
}
#btn1{
  border-radius: 10px;
}
.input-group {
    position: relative !important;
  }

  .input-group-append button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
  }
  #recordsPerPage{
      border-radius: 10px;
      border: 1px solid #E9EAEC;
      padding: 10px;
      
      height: 60px;
      font-size: 14px;
      color: #111827;
      background-color: #fff;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  }
  .form-control{
      border-radius: 10px;
      border: 1px solid #E9EAEC;
      padding: 20px;
      width: 100%;
      height: 60px;
      font-size: 14px;
      color: #111827;
      background-color: #fff;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
 .filters{
  display: flex ;
  padding-bottom: 25px;
  background-color: #fff;/**/
 }
 .display{
  color: #3c3f46;
  }
  h2 {
   /* color: #111827;*/
  }
  .smallemail{
    color: #999;
  }
  #secondrow{
    padding: 10px;
    background-color: #fff;/**/
    }
  #firstrow{
    padding: 10px;
  background-color: #F8F8F8;/**/
    }
  .skeleton-loading {
    height: 700px;  
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .skeleton-row-h {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #F1F2F4;
    /**border circle */
    border-radius: 15px;
  }
  .skeleton-row {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #F8F8F8;
    /**border circle */
    border-radius: 15px;
  }
/* Estilos para el círculo naranja */
  .active{
    color: #00A19B !important;
  }
  .user-name{
    font-weight: 600;
    color: #111827;
  }
.circle {
  width: 25px;
  height: 25px;
  background-color: #EB6F25; /* Color naranja */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.initials {
  font-size: 10px;
  font-weight: bold;
  color: white; /* Texto blanco */
}

  #maincontent {
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  /* Estilos generales */
  .app-container {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #F8F8F8; /* Fondo gris */
    color: #fff; /* Texto blanco */
  }
  
  /* Estilos de la barra lateral */
  .sidebar {
    display: flex;
    width: 280px;
    height: 1200;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid var(--greyscale-300, #E9EAEC);
    background: var(--others-white, #FFF);
  }
  
  .logo img {
    width: 100px;
    height: 80px;
    margin-bottom: 20px;
  }
  
  .menu {
    font-weight: bold;
    height: 100%;
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #687588;
    margin-bottom: 10px;
  }
  /**hover */card
  .menu li:hover{
    color: #111827 !important;
  }
  
  .logout-button {
    width: 100%;
    background-color: #fff; /* Fondo blanco */
    color: #111827; /* Texto gris */
    border: 2px solid #111827; /* Borde gris */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .download-button {
    
    width: auto;
    background-color: #fff; /* Fondo blanco */
    color: #111827; /* Texto gris */
    border: 2px solid #111827; /* Borde gris */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .new-button {
    width: auto;
    background-color: #111827; /* Fondo blanco */
    color: #fff; /* Texto gris */
    border: 2px solid #111827; /* Borde gris */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos del encabezado */
  .app-header {
  display: flex;
  align-items: end;
  height: 100px;
  width: 100%;
  border-right: 1px solid var(--greyscale-300, #E9EAEC);
  background: var(--others-white, #FFF);
  border-bottom: 1px solid var(--greyscale-300, #E9EAEC);
  background: var(--others-white, #FFF);
}
  
  .user-info-right {
    margin-top: 10px;
    padding: 25px 25px 25px 25px;
    display: flex;
    align-items: center;
    margin-left: auto; /* Moverá el elemento a la derecha */
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Estilos del contenido */
  .content {
    
    flex: 2;
    padding: 20px;
    overflow: auto;
  }
  
  .font-bold{
    font-size: bold;
  }
  .card {
    color: #353536;
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #fff; /* Borde gris */
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Estilos de la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #F1F2F4; /* Borde inferior gris */
  }
  table th {
    background-color: #FAFAFA; /* Fondo gris */
    color: #696b6d; /* Texto blanco */
  }
